body{
    display: grid;
    grid-template-columns: repeat(12,auto);
    background-color: darkgoldenrod;
}
.calc{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 6;
    gap: 10px;
    margin-top: 50%;
    background-color: blueviolet;
    border-radius: 20px;


}

    
#text1{
    
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    grid-column: span 3;
    border-radius: 10px;
}


.calc button{
    border: none;
    margin: 8px;
    height: 40px;
    border-radius: 20px;
    background-color: blueviolet;
    cursor: pointer;
}
.calc .op{
    background-color: darkgoldenrod;
}
.calc button:hover:not(.op){
    background-color: bisque;
}