.btn{
    --height:40px;
 
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
    border-color: #79747E;
    height: var(--height);
    border-radius: calc(var(--height)/2);
    padding-right: 16px;
    padding-left: 24px;
    text-align: start;
    font-family: Roboto;
    display: inline-block;
    text-decoration: none;
    
    
}
.btn.btn-outlined{
    background-color: #FFFFFF;
    color: #6750A4;
    border: 1px solid #1E192B;
}
.btn.btn-tonal{
    background-color: #E8DEF8;
    color: #1E192B;
}
.btn.btn-primary{
    background-color: #6750A4;
    color: #FFFFFF;
}
.right-align{
    text-align: right;
}